<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="details">
    <h1><%= message.name  %> </h1>
    <p><%= message.email %> </p>
    <p><%= message.phone  %> </p>
    <p><%= message.message  %> </p>
    <button class="del" data-doc="<%= message._id %> ">delete</button>
</div>
<script>
    const deletePractise= document.querySelector('button.del')
    deletePractise.addEventListener('click',(e)=>{
        const point=`/message/${deletePractise.dataset.doc}`
        //endpoint
        fetch(point,{
            method:'DELETE'
        })
        .then((response)=>response.json()

        )
        .then((data)=>window.location.href=data.redirect)
        .catch((error)=>{
           console.log(error); 
        })
    })
</script>

</body>
</html>